header {
    width: 100%;
    height: 70px;
    background: $secondary_color;

    .container-header {
        width: 1070px;
        height: 100%;
        margin: 0 auto;

        #logo {
            height: 50px;
            margin-top: 10px;
        }
    }
}
