
.cds-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;

    .cd {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        margin: 10px 20px;
        height: 360px;
        width: 360px;
        background: $cd_color;
        text-align: center;

        .cd img {
            max-width: 50%;
        }

        .cd h3 {
            margin: 20px;
            color: black;
            font-size: 22px;
            text-transform: uppercase;
        }

        .cd span.author {
            color: grey;
            font-size: 20px;
        }

        .cd span.year {
            color: grey;
        }
    }
}
